@use "../mixin" as mix;

.form {
    @include mix.flexBox(row, center);
    padding: 2rem 0;

    .todo-input {
        font-size: 1rem;
        padding: .5rem;
        outline: none;
        border: none;
        width: 30vmax;
        background-color: darkgrey;
    }

    .submit-btn {
        font-size: 1rem;
        padding: .5em .8em;
        border: none;
        background-color: blue;
        color: white;
    }
}
