.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 20vh;
}
@media screen and (max-width: 600px) {
  .header {
    height: 15vh;
  }
}
.header h1 {
  font-size: 2rem;
  font-weight: 400;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  padding: 2rem 0;
}
@media screen and (max-width: 600px) {
  .form {
    padding: 1rem 0;
  }
}
.form .todo-input {
  font-size: 1rem;
  padding: 0.5rem;
  outline: none;
  border: none;
  width: 30vmax;
  background-color: darkgrey;
}
@media screen and (max-width: 768px) {
  .form .todo-input {
    width: 65vmin;
  }
}
.form .submit-btn {
  font-size: 1rem;
  padding: 0.5em 0.8em;
  border: none;
  background-color: blue;
  color: white;
}

.todo-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  list-style: none;
  padding: 1em;
  max-height: 50vh;
  margin: auto;
  width: 35vmax;
  overflow-x: hidden;
}
@media screen and (max-width: 768px) {
  .todo-list {
    width: 85vmin;
  }
}
.todo-list .todo-item {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 0.5em 0;
  animation: fall 0.5s;
}
.todo-list .todo-item .item-name {
  flex: 1;
  text-transform: capitalize;
  font-size: 1rem;
  padding: 0.5em;
}
.todo-list .todo-item .delete-btn {
  font-size: 1rem;
  padding: 0.5em;
  background-color: #dd2c2c;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
}
.todo-list .todo-item .delete-btn:hover {
  background-color: #b81e1e;
  transition: 0.3s ease;
}
.todo-list .todo-item .check-btn {
  font-size: 1rem;
  padding: 0.5em;
  background-color: green;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
}
.todo-list .todo-item .check-btn:hover {
  background-color: #004d00;
  transition: 0.3s ease;
}
.todo-list .todo-item .completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.todo-list .removed {
  transform: translateX(8rem);
  opacity: 0;
  transition: 0.5s ease;
}

@keyframes fall {
  from {
    transform: translateY(-1rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: blue;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover:hover {
  background-color: #0000cc;
  transition: 0.3s ease;
}

.todo-filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  margin-bottom: 2em;
}
.todo-filter .select {
  outline: none;
  border: none;
  padding: 0.5em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.fa {
  pointer-events: none;
}

/*# sourceMappingURL=app.css.map */
